.test {
	width: 100%;
	max-width: 800px;
	padding: 2rem;
	background-color: rgba(17, 24, 39, 0.8);
	border-radius: 12px;
	border: 1px solid #1f2937;
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.progressBar {
	width: 100%;
	height: 6px;
	background-color: #e9ecef;
	border-radius: 3px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.progress {
	height: 100%;
	background-color: #facc15;
	width: 20%;
	animation: fillProgress 0.5s forwards;
}

@keyframes fillProgress {
	0% {
		width: 20%;
	}
	100% {
		width: 40%;
	}
}

.test__header {
	font-size: clamp(1.5rem, 4.5vw, 1.875rem);
	color: #facc15;
	margin-bottom: 1.5rem;
}
.test__checkbox_block {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.6rem;
	margin-bottom: 1rem;
}

.test__subtitle {
	width: 100%;
	font-weight: 500;
	color: oklch(92.8% 0.006 264.531);
	text-align: justify;
}

li {
	color: #d3d6dc;
}

.test__mail {
	padding: 1rem;
	background-color: #f8f9fa;
	border-radius: 4px;
	color: gray;
}

.mail__link {
	color: #007bff;
	text-decoration: none;
}

.test__subtitle_question {
	font-size: clamp(0.8rem, 3vw, 1.1rem);
	font-weight: 600;
	text-align: justify;
	margin-bottom: 1rem;
	color: #d3d6dc;
}
